<main>
  <div class="container">
  <div class="row">
    <%= render 'leftuser',user:@user,book:@book %>
    
    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
        <table>
          <thead>
            <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            </tr>
          </thead>
           <% @books.each do |book| %>
            <tbody>
              <tr>
                <td>
              <%= link_to books_path(book.id) do %>
                   <% if book.image %>
                    <%= image_tag(book.user.get_profile_image) %>
                   <% else %>
                    <%= image_tag "default_image.jpg" %>
                   <% end %>
                  <% end %>
                </td>
                <td><%= book.title %></td>
                <td><%= book.body %></td>
              </tr>
              <% end %>
            </tbody>
    </div>
  </div>
  </div>
</main>