<div>
  <h2>User info</h2>
  
  <%= image_tag @user.get_profile_image(100,100) %>
  <p>name <%= @user.name %>
  <p>introduction <%= @user.introduction %>
  
  <% if @user == current_user %>
    <p><%= link_to "編集ボタン後で追加", edit_user_path(@user) %></p>
  <% end %>
</div>


<h2>New Book</h2>
<%= form_with model: @book, local: true do |f| %>
  <h4>title</h4>
  <%= f.text_field :title %>
  <h4>opinion</h4>
  <%= f.text_area :body %>
  <%= f.submit '投稿' %>
<% end %>

    <p>Books</p>
    <table>
      <thead>
        <tr>
        <th></th>
        <th>Title</th>
        <th>Opinion</th>
        </tr>
      </thead>
      <% @books.each do |book| %>
      <tbody>
        <tr>
          <td><%= link_to user_path(book.user.id) do %>
          <%= image_tag(book.user.get_profile_image) %>
          <% end %>
          </td>
          <td><%= link_to book.title, book_path(book.id) %>
          <td><%= book.body %></td>
        <% end %>
        </tr>
    </tbody>
  </table>


<!-- ユーザーの投稿一覧 -->
<!--%= render 'book/list', book: @books %>-->
